h2{
    color:white;
    text-align: center;

    
}
body{
  background-color: black;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.blue {
    background-color: cornflowerblue;
   
}
  
  .purple {
    background-color: purple;
 }
  
.green {
    background-color: rgb(105, 197, 0);
  }

